@{
    ViewData["Title"] = "Home Page";
}

    <div>
        @if (ViewData["Username"] != null)
        {
        <a href="~/Home/LogOut">Let's Get out of here!</a>
        }
        else
        {
        <a href="~/Home/LogIn">Log in</a>
        }
    </div>